<apex:component >
	<apex:attribute name="pkbCon" type="BelongSupportHomeController" required="true" description="handle to the pkb controller" />
	<div class="container-content">
		<div class="text-center h3">
			Find a FAQ
		</div>
	</div>
	<div class="container-content">
		<ul class="accordion" data-accordion="true" data-multi-expand="true" data-allow-all-closed="true">
			<apex:repeat value="{!pkbCon.knowledgeSettingProd}" var="kbProds" >
				<apex:variable var="ProdCatLabel" value="{!IF(kbProds.Name == 'Voice', 'Belong Voice', kbProds)}"/>
			    <li class="accordion-item" data-accordion-item="true">
					<a href="#" class="accordion-title"><h5>{!kbProds.Product_Label__c}</h5></a>
					<div class="accordion-content" data-tab-content="true">
						<div class="text-center">
							<apex:repeat value="{!pkbCon.knowledgeProducts[kbProds.Name]}" var="kbProd" >
								<a href="{!URLFOR($Page.Belong_Support_Category,null,[cat=kbProd.Name])}" class="square hollow blue button">
									<h5>{!kbProd.Title__c}</h5>
								</a>
							</apex:repeat>
						</div>
					</div>
				</li>
			</apex:repeat>
		</ul>
	</div>
</apex:component>